.card p{
    color: #024E82;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0, 123, 255, 0.2);
    transform: scale(1.01);
}

.card {
    transition: all 0.5s ease;
}

.card .card-title:hover{
    color: #024E82 !important;

}

.services i{
    color: #024E82;
}

.services p{
    color: #555555;
}